footer.navbar.navbar-fixed-bottom
  .container.text-center
    p.pull-left Clon de Twiter!
    ul.pull-right.list-inline
      li
        a(href='https://www.facebook.com/RodolfoKenllyEscalanteCumpa') Hecho por Rodolfo Escalante Cumpa