.panel.panel-info
  .panel-body
    form(role='form', method='post', action='tweet')
      textarea.form-control(name='texto', placeholder='Enviar tweet...', rows='3')
      br
      input.btn.btn-lg.btn-primary.pull-right(type='submit', value='Tweet')