body {
    padding-top: 60px;
    margin-bottom: 75px;
  }
  
  .media {
    padding: 10px;
    margin-top: 0;
  }
  
  .media:hover {
    background: #f9f9f9;
  }
  
  .feed.img-rounded {
    width: 64px;
    height: 64px;
  }
  
  .perfil.img-rounded {
    width: 100px;
    height: 100px;
  }
  
  .explorar .foto-perfil {
    width: 55px;
  }